body {
    font-family: 'Roboto', sans-serif;
}

/* Custom class for the story gradient border */
.story-gradient-ring {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

/* Simple hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Styles for liked button */
.like-button .fa-heart.liked {
    color: #ED4956; /* Instagram red */
    font-weight: 900; /* 'fas' style */
}
